body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 2rem;
  /* background-color: orange; */

}

.link1{
  text-decoration: none;
  font-size:2rem;
background-color: rgb(250, 250, 131);
text-align: center;
border-radius: 5px;
}
.link1:hover{
  color: red;
  
}
.the{
  color: red;
  transform: rotate(-90deg);
  font-size: 70px;
box-sizing: border-box;
  display: inline-block;
  margin-left: 10px;
  /* background-color: black; */
  margin-bottom: 20px;

}
body{
  background-color:rgb(252, 252, 189);
  
}
.siren{
  text-align: center;
  font-size: 6rem;
  /* text-decoration: underline; */
  /* border-bottom: 1px solid red; */
  
}
.siren1{
/* text-decoration: underline; */
display: inline;
border-bottom: solid 10px red;
box-sizing: border-box;
/* background-color: red; */

}
.toggle{
  width: 30px;
  height: 30px;
  font-weight: bolder;
  background-color: green;
  text-align: center;
  border-radius: 50%;
  display: none;
  position: absolute;
  right: 15%;
  top: 100px;
}
@media screen and (min-width:300px) and (max-width:600px){
  .navbar{
    flex-direction: column;
    display: flex;
  }
  .siren{
    
    
    font-size: 2rem;
    text-align: left;
    margin-left: 5%;
  }
  .toggle{
    display: block;
  }
  .toggle:hover + .navbar{
    display: none;
  }
  .navbar{
    display: flex;
  }
  .toggle:double-button + .navbar{
    display: flex;
  }
  .the{
    font-size: 20px;
  }
  .siren1{
    border-bottom: solid 5px red;
    font-size: 35px;
  }
  
}
